<h2 class="row justify-content-center">User profile</h2>
<div class="card m-5" style="width:18rem" *ngIf="userDetails">
    <ul class="list-group">
      <li class="list-group-item"><strong>Email : </strong>{{userDetails.email}}</li>
      <li class="list-group-item"><strong>FirstName : </strong>{{userDetails.name}}</li>
      <li class="list-group-item"><strong>SecondName : </strong>{{userDetails.surname}}</li> 
      <li class="list-group-item"><strong>PhoneNumber : </strong>{{userDetails.phoneNumber}}</li>
    </ul>
</div>